*, *::before, *::after {
    box-sizing: border-box;
}

.karusell {
    width: 75vw;
    height: 75vh;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0, .1);

}

.karusell > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 5%;
    background:rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display:inline-flex;
    object-fit:contain;
    object-position:center;
    
}


.center_text {
    text-align: center;
}
.overlay > p {
    color: white;
    font-size: 1em;
}

.slide > a > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.karusell-button {
    position: absolute;
    z-index: 2;
    background: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0,230,0, .5);
    cursor: pointer;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.karusell-button:hover,
.karusell-button:focus {
    color: black;
    background-color: rgba(255,255,255, .2);
}

.karusell-button:focus {
    outline: 1px solid black;
}

.karusell-button.prev {
    left: -5rem;
}

.karusell-button.next {
    right: -5rem;
}